@using System.Globalization
@using TRKPortfolio.Web.ViewModels.Administration.Posts.InputModel
@model EditPostInputModel

@{
    this.ViewData["Title"] = "Edit Posts";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="row d-flex">
    <div class="col-md-6 offset-3 mt-5 align-self-center">
        <form enctype="multipart/form-data" asp-area="Administration" asp-controller="Posts" asp-action="Edit" method="post">
            <h3 class="mb-3 text-center">Edit Post</h3>
            <div class="form-group">
                <label>Projetc Title</label>
                <input id="customeInput" asp-for="@Model.Title" class="form-control" value="@Model.Title">
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Describtion</label>
                <input id="customeInput" asp-for="@Model.Description" class="form-control" placeholder="Description">
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Post Content</label>
                <textarea cols="40" rows="5" id="customeInput" asp-for="@Model.Text" class="form-control h-100" placeholder="Write content here"></textarea>
                <span asp-validation-for="@Model.Text" class="text-danger"></span>
            </div>
            <div id="select_many">
                <div class="form-group">
                    <label>Select categories</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="categoryItems" multiple></select>
                </div>
            </div>
            <p>Hold Ctrl to select more than one</p>
            <a class="btn col-12" onclick="this.closest('form').submit();return false;">Edit Post</a>
        </form>
    </div>
</div>