@using TRKPortfolio.Web.ViewModels.Posts.InputModel
@model PostCommentInputModel

<div class="row d-flex pt-5">
    <div class="col-6 offset-3 mt-5 align-self-center">
        <h3>@Model.Post.Id</h3>
        <h3>@Model.Post.Title</h3>
        <p>@Model.Post.Description</p>
    </div>
    @foreach (var path in Model.Attachments)
    {
        <img src="/Images/@path" alt="Alternate Text" />
    }
    @foreach (var paragraph in Model.Post.Paragraphs)
    {
        <div class="col-6 offset-3 mt-5 align-self-center">
            <h2>@paragraph.ParagraphTitle</h2>
            <p>@paragraph.ParagraphContent</p>
        </div>
    }
    <form class="col-6 offset-3" enctype="multipart/form-data" asp-area="" asp-controller="Comments" asp-action="Create" method="post">
        <div class="form-group">
            <label>Comment</label>
            <textarea cols="40" rows="5" id="customeInput" asp-for="@Model.Comment.Text" class="form-control h-50" placeholder="Write your comment"></textarea>
            <input type="hidden" asp-for="@Model.Comment.PostId" value="@Model.Post.Id">
            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
        </div>
        <a onclick="this.closest('form').submit();return false;"> <img class="btn col-1 offset-11" src="/Images/iconfinder-icon.svg" alt="Alternate Text" /> </a>
    </form>
    @foreach (var comment in Model.Comments.Reverse())
    {
        <div class="col-6 offset-3 mt-5 align-self-center">
            <p>@comment.Text</p>
            <p>@comment.CreatedOn.ToString("dd MMMM yyyy HH:mm")</p>
        </div>
        <form class="col-6 offset-3 p-5" enctype="multipart/form-data" asp-area="" asp-controller="Comments" asp-action="Reply" method="post">
            <div class="form-group">
                <textarea cols="40" rows="2" id="customeInput" asp-for="@Model.Comment.Text" class="form-control h-25" placeholder="Reply"></textarea>
                <input type="hidden" asp-for="@Model.Comment.CommentId" value="@comment.Id">
                <input type="hidden" asp-for="@Model.Comment.PostId" value="@Model.Post.Id">
                <span asp-validation-for="@Model.Comment" class="text-danger"></span>
            </div>
            <a onclick="this.closest('form').submit();return false;"> <img class="btn col-1 offset-11" src="/Images/iconfinder-icon.svg" alt="Alternate Text" /> </a>
        </form>
        foreach (var reply in comment.Replies.Reverse())
        {
            <div class="col-6 offset-3 mt-5 align-self-center">
                <p>@reply.Text</p>
            </div>
        }
    }
</div>