@using TRKPortfolio.Web.ViewModels.Posts.InputModel
@model PostCommentInputModel

<div class="row d-flex pt-5">
    <div class="col-6 offset-3 mt-5 align-self-center">
        <h3 class="mb-5">@Model.Post.Title</h3>
        <p>@Model.Post.Description</p>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn col-6 offset-3 mt-3 mb-4" asp-area="Administration" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Post.Id">Edit Post</a>
        }
    </div>
    @foreach (var path in Model.Attachments)
    {
        <img class="col-6 offset-3" src="/Images/@path" alt="Alternate Text" />
    }
    @foreach (var paragraph in Model.Post.Paragraphs)
    {
        <div class="col-6 offset-3 mt-5 align-self-center">
            <h2 class="mb-4">@paragraph.ParagraphTitle</h2>
            <p>@paragraph.ParagraphContent</p>
        </div>
    }
    <form class="col-6 offset-3 mt-5" enctype="multipart/form-data" asp-area="" asp-controller="Comments" asp-action="Create" method="post">
        <div class="form-group">
            <label>Comment</label>
            <textarea cols="40" rows="5" id="customeInput" asp-for="@Model.Comment.Text" class="form-control h-50" placeholder="Write your comment"></textarea>
            <input type="hidden" asp-for="@Model.Comment.PostId" value="@Model.Post.Id">
            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
        </div>
        <a onclick="this.closest('form').submit();return false;"> <img class="btn col-1 offset-11" src="/Images/iconfinder-icon.svg" alt="Alternate Text" /> </a>
    </form>
    @foreach (var comment in Model.Comments.Reverse())
    {
        <div class="col-6 offset-3 mt-3 align-self-center">
            <p><b>@comment.Text</b></p>
            <p>@comment.CreatedOn.ToString("dd MMMM yyyy HH:mm")</p>
            <hr />
        </div>
        foreach (var reply in comment.Replies)
        {
            <div class="col-6 offset-3 pl-5 align-self-center">
                <p><b>@reply.Text</b></p>
                <p>@reply.CreatedOn.ToString("dd MMMM yyyy HH:mm")</p>
                <hr />
            </div>
        }
        <form class="col-6 offset-3 pl-5" enctype="multipart/form-data" asp-area="" asp-controller="Comments" asp-action="Reply" method="post">
            <div class="form-group">
                <textarea cols="40" rows="2" id="customeInput" asp-for="@Model.Comment.Text" class="form-control h-25" placeholder="Reply"></textarea>
                <input type="hidden" asp-for="@Model.Comment.CommentId" value="@comment.Id">
                <input type="hidden" asp-for="@Model.Comment.PostId" value="@Model.Post.Id">
                <span asp-validation-for="@Model.Comment" class="text-danger"></span>
            </div>
            <a onclick="this.closest('form').submit();return false;"> <img class="btn col-1 offset-11" src="/Images/iconfinder-icon.svg" alt="Alternate Text" /> </a>
        </form>
    }
</div>