@using TRKPortfolio.Web.ViewModels.Projects.ViewModel
@model ProjectListViewModel



@if (Model.Projects != null)
{
    <div class="row justify-content-center">
        <h1>Projects</h1>
    </div>
    for (int i = Model.Projects.Count() - 1; i >= 0; i--)
    {
        var project = Model.Projects.ElementAt(i);

        if (i % 2 == 0)
        {
            <div class="row d-flex project">
                <a class="col-6 align-self-center" asp-action="Detail" asp-route-id="@project.Id">
                    <h2 class="col-12">
                        @project.Title
                    </h2>
                    <p class="col-12">@project.Description</p>
                    <p class="col-12">@project.CustomerUsername</p>
                </a>
                <div class="col-6">
                    <img class="w-75" src="/Images/@Model.Projects.ElementAt(i).Thumbnail" alt="Hi">
                </div>
            </div>
        }
        else
        {
            <div class="row d-flex project">
                <div class="col-6">
                    <img class="w-75" src="/Images/@Model.Projects.ElementAt(i).Thumbnail" alt="Hi">
                </div>
                <a class="col-6 align-self-center" asp-action="Detail" asp-route-id="@project.Id">
                    <h2 class="col-12">
                        @project.Title
                    </h2>
                    <p class="col-12">@project.Description</p>
                    <p class="col-12">@project.CustomerUsername</p>
                </a>
            </div>
        }
    }
}
else
{
    <h1>EnterSomeProjects</h1>
}