@using System.Globalization
@using TRKPortfolio.Web.ViewModels.Administration.Projects.InputModel
@model EditProjectInputModel

@{
    this.ViewData["Title"] = "Edit Project";
    var categoryItems = this.Model.CategoriesItems.Select(x => new SelectListItem(x.Value, x.Key));
    var skills = this.Model.Skills.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="row d-flex">

    <div class="col-md-6 offset-3 mt-5 align-self-center">

        <form enctype="multipart/form-data"
              asp-area="Administration"
              asp-controller="Projects"
              asp-action="Edit"
              method="post">

            <h3 class="mb-3 text-center">Input your new Project</h3>

            <div class="form-group">
                <label>Projetc Title</label>
                <input id="customeInput" asp-for="@Model.Title" class="form-control" value="@Model.Title">
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Describtion</label>
                <input id="customeInput" asp-for="@Model.Description" class="form-control" placeholder="Description">
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            @for (int i = 0; i < Model.ParagraphsVm.Count(); i++)
            {
                <div>
                    <label asp-for="Paragraphs"></label>
                    <input id="customeInput" type='text' name="Paragraphs[@i].Title"
                           class="form-control" value="@Model.ParagraphsVm.ElementAt(i).ParagraphTitle">
                    <textarea cols="40" rows="5" id="customeInput" type="text" name="Paragraphs[@i].Content"
                              class="form-control h-100 mt-2 mb-4">@Model.ParagraphsVm.ElementAt(i).ParagraphContent"</textarea>
                    <span asp-validation-for="@Model.Paragraphs" class="text-danger"></span>
                </div>
            }

            <div id="select_many">

                <div class="form-group">

                    <label>Select categories</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="categoryItems" multiple></select>
                </div>

                <div class="form-group">

                    <label>Select skills</label>
                    <select asp-for="SkillId" class="form-control" asp-items="skills" multiple></select>
                </div>
            </div>

            <p>Hold Ctrl to select more than one</p>

            <a class="btn col-12" onclick="this.closest('form').submit();return false;">Edit Project</a>

        </form>
    </div>
</div>